body {
    font-family: Arial;
    background: linear-gradient(135deg, #fdfbfb, #ebedee);
    text-align: center;
}

.box {
    background: #ffffff;
    width: 340px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

h2 {
    color: #6a67ce;
}

input, select {
    width: 85%;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #f8f9ff;
}

button {
    padding: 10px;
    background: #a0c4ff;
    color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #bdb2ff;
}

p {
    color: #555;
}